{% extends 'base.html' %}
{% block title %}Alteernlingual - Subject {% endblock %}
{% load i18n %}
{% load static %}
{% block content %}

{% include '../auth_user/userNav.html' %}
<link href=" {% static 'css/volt.css' %} " rel="stylesheet">

<style> 
.card {margin-top: 100px;}
</style>


<section id="features" class="features">
      <div class="container">
      		<div class="card border-light shadow-sm mb-4">
      <img src="{% static 'img/pencil.png' %}" alt="" height="200px" width="100%"> 

          <div class="card-body">
              <div class="table-responsive">
                 <h5><i class="fas fa-book-open"></i> &nbsp; Subjects</h5> 
                          <!-- Item -->
                          {% for subject in subjects %}
                          {% if user.id not in subject.all_user %}
                          
                              <td class="border-0"> </td>
                              <td class="border-0 font-weight-bold">
                              
											       <h5>
                                <span class="icon icon-xs icon-gray w-30">
                                      	<span class="fas fa-globe-europe"></span>
                                </span>
                              <a href="{% url 'subject:follow_subject' subject.id %}" class="btn btn-secondary">  +  <i class="fas fa-envelope"></i> {{ subject }}   </a> 
                                         {% else %} 
                               <br> <br><a style="color: red" class="btn btn-primary" href="{% url 'subject:follow_subject' subject.id %}?unfollow=true">  - <i class="fas fa-envelope-open-text"></i>   {{ subject }} </a> 	<br><br>
                            </h5>
									      		
                              </td>
                            
                         
                          {% endif %}
                            {% endfor %}
                          <!-- End of Item -->

                          <!-- End of Item -->
                      <br><hr>

                       {% for fsub in fsubject %}          
                                 <a href="{% url 'subject:subjects_topics' fsub.pk %}" class="btn btn-warning">  {{ fsub }}  </a> 
                        {% endfor %}
              </div>
          </div>
      </div>


 	  </div>
 </section><!-- End Contact Section -->


{% include '../auth_user/auth_footer.html' %}

 {% endblock %}

