{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}Forgot Your Password?{% endblock %}

{% block content %}

<header id="header" class="fixed-top  header-transparent ">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <!--<h1><a href="index.html">Alteernlingual</a></h1>-->
        <!-- Uncomment below if you prefer to use an image logo -->
         <a href="{% url 'home' %}"><img src="{% static 'img/s.jpg' %}" alt="" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
         

          <li><a class="nav-link scrollto" href=""></a></li>
             <li class="dropdown" id="language-switcher">
                <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="/" />

                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="language" style="width: auto;" onchange="this.form.submit()">
                      {% get_current_language as LANGUAGE_CODE %}
                      {% get_available_languages as LANGUAGES %}
                      {% get_language_info_list for LANGUAGES as languages %}
                      {% for language in languages %}

                          <option 
                            value="{{ language.code }}"
                            {% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}
                            data-content='<img src="/static/img/flags/{{ language.code }}.png">
                            <span style="display:inline-block; width:100px; padding-left: 10px; text-shadow:none">
                              {{ language.name_local }}
                              <!-- span style="color:#999;">&nbsp;[{{ language.code }}]</span -->
                            </span>'>
                            {{ language.name_local }} {{ language.code }}
                          </option>

                      {% endfor %}
                    </select>
                </form>
    </li>
        </ul>
<i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

<section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">

          <h2></h2>
          
        </div>

        <div class="accordion-list">
          

       <div class="container">
                <div class="row justify-content-center form-bg-image">
                   
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                           

							<h1>Forgot your password?</h1>
							<p>Enter your email address below, and we'll email instructions for setting a new one.</p>

							<form method="POST">
								{% csrf_token %}
									<label for="password">Email:</label>
								{{ form.email}}
									<input type="submit" value="Send me instructions!">
							</form>

                        </div>
                    </div>
                </div>
            </div>



        </div>

      </div>
    </section>
{% endblock %}



