{% extends 'base.html' %}
{% block title %}Alteernlingual - Dashboard{% endblock %}
{% load i18n %}
{% load static %}
{% block content %}


{% include './userNav.html' %}

<link href=" {% static 'css/volt.css' %} " rel="stylesheet">

 <section id="hero" class="d-flex align-items-center">

      <div class="container" data-aos="fade-up" >
       
            
       <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">

           <div class="col-12 col-lg-6 mb-4">
                        <div class="card border-light shadow-sm">
                            <div class="card-header border-bottom border-light">
                                <h2 class="h5 mb-0">Progress track</h2>
                            </div>
                            <div class="card-body">
                                <div class="row align-items-center mb-4">
                                    <div class="col-auto">
                                        <span class="icon icon-md text-purple"><i class="far fa-sticky-note"></i></i></span>
                                    </div>
                                    <div class="col">
                                        <div class="progress-wrapper">
                                            <div class="progress-info">
                                                <div class="h6 mb-0">Language progress track:</div>
                                                <!-- <div class="small font-weight-bold text-dark"><span>5 %</span></div> -->
                                            </div>
                                            {% if language_follow %}
                                            {% for i in language_follow %}
                                            <div class="progress mb-0">
                                                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent }}% ;">  </div> 
                                            </div>
                                            
                                            {{ percent }} %

                                             <!-- {% for i in profile %}
                                              {{ i }} 
                                             {%endfor%}
 -->
                                      <h6> <br> <a href="{% url 'lessons' %}#skill">{{ i.language }} language</a>. <br>
                                      {{ read_count }} {%endfor%}  out of {{ total_topic }} topics read</h6>

                                        {% else %}
                                        <p>You are not learning a language at the moment. <a href="{% url 'lessons' %}"> start here.</a></p>
                                        {% endif %}
                                      <h6></h6>{% if last_read %}
                                          <p>last read: <a href="{% url 'topic_detail'  last_read.pk %}">{{ last_read }}</a></p>
                                          {% endif %}
                                        </div>
                                    </div>
                                </div><hr>
                                 <div class="row align-items-center mb-4">
                                    <div class="col-auto">
                                        <span class="icon icon-md text-purple"><i class="fab fa-stripe-s"></i></span>
                                    </div>
                                    <div class="col">
                                        <div class="progress-wrapper">
                                            <div class="progress-info">
                                                <div class="h6 mb-0">Subject progress track:</div>
                                                <!-- <div class="small font-weight-bold text-dark"><span>5 %</span></div> -->
                                            </div>
                                              {% if subject_follow %}
                                            {% for i in subject_follow %}
                                            <div class="progress mb-0">
                                                <div class="progress-bar bg-info" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent }}% ;">  </div> 
                                            </div>
                                            
                                            {{ percent }} %

                                             <!-- {% for i in profile %}
                                              {{ i }} 
                                             {%endfor%}
 -->
                                      <h6> <br> <a href="{% url 'subject:subject_view' %}">{{i.subject}} </a> <br>
                                       {{ read_count }} {%endfor%} of {{ total_topic }} topics read</h6>

                                        {% else %}
                                        <p>You are currently not learning a subject,
                                          <a href="{% url 'subject:subject_view' %} "> start learning a subject</a>.
                                        </p>
                                       {% endif %}
                                      <h6></h6>
           
                                        </div>
                                    </div>
                                </div>
                              
                        </div>
                    </div>

<br><br>
    </div>
        </div>
<div class="container">
    <h2>Explore Alteernlingual</h2>
  <div class="row">
    <div class="col">

     <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static 'img/book1.png' %}" class="img-fluid" alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><a class="nav-link scrollto" href="{% url 'lessons' %}">{% trans "Learn languages easy way" %}</a></h5>
        <p class="card-text">
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
  </div>
</div>
    
    </div>

    <div class="col">
    
   <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static 'img/book2.png' %}" class="img-fluid" alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><a class="nav-link scrollto" href="{% url 'subject:subject_view' %}">{% trans "Learn a subject " %}</a></h5>
        <p class="card-text">
         Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
  </div>
</div>
    
    </div>

  </div>
</div>       
    </section><!-- End Frequently Asked Questions Section -->
 
{% include './auth_footer.html' %}


{% endblock %}
