{% load static %}
{% load i18n %}
<!-- ======= Header ======= -->
  <header id="header" class="fixed-top  header-transparent ">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <!--<h1><a href="index.html">Alteernlingual</a></h1>-->
        <!-- Uncomment below if you prefer to use an image logo -->
         <a href="{% url 'home' %}"><img src="{% static 'img/s.jpg' %}" alt="" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>  <li><a href="{% url 'profile' %}"><img src="{{ user.profile.get_avatar }}"
                                         class=" rounded-circle "
                                         width="30px" height="30px"></a></li>
         <!--  <li><a class="getstarted scrollto" href="{% url 'profile' %}">{{ user.username }}</a></li> -->

          <li class="dropdown"><a href="{% url 'profile' %}"><span>{{ user.username }}</span> <i class="bi bi-chevron-down"></i></a>
          
            <ul>
              <li><a href="{% url 'passwordChange' %}">{% trans "Change password" %}</a></li>
            </ul>
          </li>

    </li>
          <li><a class="nav-link scrollto" href="{% url 'dashboard' %}">{% trans "Dashboard" %}</a></li>
          <li><a class="nav-link scrollto" href="{% url 'lessons' %}#skill">{% trans "Lessons" %}</a></li>
          
          <li><a class="nav-link scrollto" href="{% url 'subject:subject_view' %}">{% trans "Subjects" %} </a></li>
          <li><a class="nav-link scrollto" href="{% url 'search' %}">  <i class="fas fa-search"></i> &nbsp; &nbsp;</a></li>
          
          {% if user.is_authenticated %}
          <li><a class="nav-link scrollto" href="{% url 'logout' %}">
            <i class="fas fa-sign-out-alt"></i> &nbsp;{% trans "Logout" %}</a></li>
                {% endif %}

        </ul>
        
        

<i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
    <div class="table-responsive">
  <table class="table table-striped">
  <tbody>
    <tr class="table-light"> 
      <td>
        <form name="languageAr" action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}" />
                        <input name="language" type="hidden" value="ar" />
                        <a href="javascript:document.languageAr.submit()">
                         {% get_current_language as LANGUAGE_CODE %} 
                        {% if LANGUAGE_CODE == 'ar' %}
                        <i style="color: blue">Arabic</i>
                        {% else %}
                        Arabic
                        {% endif %}
                       </a>
                      </form> 
      </td>

      <td>
          <form name="languageEn" action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}" />
                        <input name="language" type="hidden" value="en" />
                        <a href="javascript:document.languageEn.submit()">
                         {% get_current_language as LANGUAGE_CODE %} 
                        {% if LANGUAGE_CODE == 'en' %}
                        <i style="color: blue">English</i>
                        {% else %}
                        English
                        {% endif %}
                       </a>
                      </form>
      </td>

      <td>
         <form name="languageFr" action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                     <input name="next" type="hidden" value="{{ redirect_to }}" />
                        <input name="language" type="hidden" value="fr" />
                        <a href="javascript:document.languageFr.submit()">
                        {% get_current_language as LANGUAGE_CODE %} 
                        {% if LANGUAGE_CODE == 'fr' %}
                        <i style="color: blue">Francais</i>
                        {% else %}
                        Francais
                        {% endif %}
                      </a>
                      </form> 
      </td>

       <td>
         <form name="languageHa" action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                     <input name="next" type="hidden" value="{{ redirect_to }}" />
                        <input name="language" type="hidden" value="ha" />
                        <a href="javascript:document.languageHa.submit()">
                         {% get_current_language as LANGUAGE_CODE %} 
                        {% if LANGUAGE_CODE == 'ha' %}
                        <i style="color: blue">Hausa</i>
                        {% else %}
                        Hausa
                        {% endif %}
                       </a>
                      </form> 
       </td>

      <td>
         <form name="languageIg" action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                     <input name="next" type="hidden" value="{{ redirect_to }}" />
                        <input name="language" type="hidden" value="ig" />
                        <a href="javascript:document.languageIg.submit()"> 
                      {% get_current_language as LANGUAGE_CODE %} 
                        {% if LANGUAGE_CODE == 'ig' %}
                        <i style="color: blue">Igbo</i>
                        {% else %}
                        Igbo
                        {% endif %}
                      </a>
                      </form>   

      </td>

      <td>
        <form name="languageYo" action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                     <input name="next" type="hidden" value="{{ redirect_to }}" />
                        <input name="language" type="hidden" value="yo" />
                        <a href="javascript:document.languageYo.submit()">
                         {% get_current_language as LANGUAGE_CODE %} 
                        {% if LANGUAGE_CODE == 'yo' %}
                        <i style="color: blue">Yoruba</i>
                        {% else %}
                        Yoruba
                        {% endif %}
                       </a>
                      </form> 
      </td>

    </tr>
  </tbody>
</table>
</div>
  </header><!-- End Header -->

 