{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}


{% include './userNav.html' %}

<link href=" {% static 'css/volt.css' %} " rel="stylesheet">



 <section id="hero" class="d-flex align-items-center">
      <div class="container" data-aos="fade-up" >
       <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">

                
           <div class="col-12 col-lg-6 mb-4">
                        <div class="card border-light shadow-sm">
                            <div class="card-header border-bottom border-light">
                                <h2 class="h5 mb-0">Progress track</h2>
                            </div>
                            <div class="card-body">
                                <div class="row align-items-center mb-4">
                                    <div class="col-auto">
                                        <span class="icon icon-md text-purple"><i class="fas fa-info"></i></span>
                                    </div>
                                    <div class="col">
                                        <div class="progress-wrapper">
                                            <div class="progress-info">
                                                <div class="h6 mb-0">Learning progress track</div>
                                                <div class="small font-weight-bold text-dark"><span>60 %</span></div>
                                            </div>
                                            <div class="progress mb-0">
                                                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                              
                        </div>
                    </div>
<br>
                    <div class="card border-light shadow-sm">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between border-bottom border-light pb-3">
                                <div>
                                    <h6 class="mb-0"><span class="icon icon-xs mr-3"><span class="fas fa-globe-europe"></span></span>Tuorial Language Preference</h6>
                                </div>
                                <div>
                                    <a href="#" class="text-primary font-weight-bold"><span class="fas fa-chart-line ml-2"></span></a>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between border-bottom border-light py-3">
                                <div>
                                    <h6 class="mb-0"><span class="icon icon-xs mr-3"><span class="fas fa-flag-usa"></span></span>Language of Interest</h6>
                                    <div class="small card-stats">None selected<span class="icon icon-xs text-success ml-2"><span class="fas fa-angle-up"></span></span></div>
                                </div>
                                <div>
                                    <a href="#" class="text-primary font-weight-bold"><span class="fas fa-chart-line ml-2"></span></a>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between pt-3">
                                <div>
                                    <h6 class="mb-0"><span class="icon icon-xs mr-3"><span class="fas fa-folder-open"></span></span>Language to Learn</h6>
                                    <a href="#" class="small card-stats">None selected</a>
                                </div>
                                <div>
                                    <a href="#" class="text-primary font-weight-bold"><span class="fas fa-chart-line ml-2"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
<br><br>
         <div class="container">
        <h1 data-aos="fade-up"><span class="fas fa-chart-line"></span> &nbsp;{% trans "I want to learn...." %} </h1> <br><br>
      <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{% trans "Alphabet" %}</h5>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
        <a href="#" class="btn btn-primary">Start</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{% trans "Proverbs" %}</h5>
        <p class="card-text">
          {% trans "language proverbs and their meaning." %}
        </p>
        <a href="#" class="btn btn-primary">Start</a>
      </div>
    </div>
  </div>
</div>
      </div>
            </div>
        </div>
                        
    </section><!-- End Frequently Asked Questions Section -->
 

{% endblock %}