{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}


{% include './auth_user/userNav.html' %}

<link href=" {% static 'css/volt.css' %} " rel="stylesheet">
 <section id="hero" class="d-flex align-items-center">
      <div class="container" data-aos="fade-up" >
                <div class="col-12"> 
 <img src="{% static 'img/happy.gif' %}">
                            <div class="card card-body bg-white border-light shadow-sm mb-4">
                                <h2 class="h5 mb-4"> {{ Category.title }}</h2>
                                <div class="d-xl-flex align-items-center">
                                    <div class="file-field">
                                        <div class="d-flex justify-content-xl-center ml-xl-3">
                                            <div class="d-flex">
                                                <span class="icon icon-md">
                                                    <span class="fas fa-paperclip mr-3"></span>
                                                </span>
                                                
                                                <div class="d-md-block text-left">
                                                    <div class="font-weight-normal text-dark mb-1">
                                                        {{ Category.description }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                

            {% if user.profile.ltl == 1 %}
            <h1> <a class="btn btn-primary" href="{% url 'EN_topic_list' %}"> Start Learning English {{ Category.title }}</a></h1>
            {% endif %}

            {% if user.profile.ltl == 2 %}
                <h1> <a class="btn btn-primary" href="{% url 'IG_topic_list' %}"> Start Learning Igbo {{ Category.title }}</a></h1>
            {% endif %}  
            
            {% if user.profile.ltl == 3 %}
                <h1> <a href="{% url 'HA_topic_list' %}"> Start Learning Hausa {{ Category.title }}</a></h1> 
            {% endif %}
            
            {% if user.profile.ltl == 4 %}
                <h1> <a  class="btn btn-primary" class="btn btn-primary" href="{% url 'YO_topic_list' %}"> Start Learning Yoruba {{ Category.title }}</a></h1>  
            {% endif %}
            
            {% if user.profile.ltl == 5 %}
                <h1> <a class="btn btn-primary" href="{% url 'FR_topic_list' %}">Start Learning French {{ Category.title }}</a></h1>   
            {% endif %}

            {% if user.profile.ltl == 6 %}
                <h1> <a class="btn btn-primary" href="{% url 'AR_topic_list' %}"> Start Learning Arabic {{ Category.title }}</a></h1>
            {% endif %}                         

       
        </div>
                        
    </section><!-- End Frequently Asked Questions Section -->
 
{% include './auth_user/auth_footer.html' %}

{% endblock %}