{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}


{% include './auth_user/userNav.html' %}

<link href=" {% static 'css/volt.css' %} " rel="stylesheet">

  <section id="hero" class="d-flex align-items-center">

    <div class="container">
       <img src="{% static 'img/clipart.png' %}" width="500px">
       <br><br>

       <div class="container">
            <a href="" id="#lessons"></a>
        <h1 data-aos="fade-up"><i class="fas fa-anchor"></i> &nbsp;{% trans "I want to learn...." %} </h1> 
        
        <br><br>
      <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{% trans "Alphabet" %}</h5>
        <p class="card-text">
          With supporting text below as a natural lead-in.
        </p>
        <a href="/topics/category/1/" class="btn btn-primary">Start</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{% trans "Proverbs" %}</h5>
        <p class="card-text">
          {% trans "language proverbs and their meaning." %}
        </p>
        <a href="#" class="btn btn-primary">Start</a>
      </div>
    </div>
  </div>
</div>
      </div>


      </div>
    </section><!-- End Contact Section -->
  </main><!-- End #main -->

{% include './auth_user/auth_footer.html' %}
 {% endblock %}
