{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}


{% include './auth_user/userNav.html' %}

<link href=" {% static 'css/volt.css' %} " rel="stylesheet">
 <section id="hero" class="d-flex align-items-center">
      <div class="container" data-aos="fade-up" >
        
      		{{ EN_topics}}
      		{{ HausaTopic}}


       <!--  {{ user.profile.ltl }}

         {% if user.profile.ltl == 1 %}
            {% for topic in topics %}
            {{ topic.en_title}}
            {% endfor %}
            {% endif %}

        {% if user.profile.ltl ==  2 %}
           {% for topic in topics %}
            {{ topic.ig_title}}
            {% endfor %}
            {% else %}
            {% endif %}

        {% if user.profile.ltl == 3 %}
            {% for topic in topics %}
            {{ topic.en_title}}
            {% endfor %}
            {% endif %}
        {% if user.profile.ltl == 4 %}
            {% for topic in topics %}
            {{ topic.en_title}}
            {% endfor %}
            {% endif %}

        {% if user.profile.ltl ==  5 %}
           {% for topic in topics %}
            {{ topic.ig_title}}
            {% endfor %}
            {% else %}
            {% endif %}

        {% if user.profile.ltl == 6 %}
            {% for topic in topics %}
            {{ topic.en_title}}
            {% endfor %}
            {% endif %} -->

        </div>
                        
    </section><!-- End Frequently Asked Questions Section -->
 

{% endblock %}