{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}


{% include '../auth_user/userNav.html' %}

<link href=" {% static 'css/volt.css' %} " rel="stylesheet">
 <section id="hero" class="d-flex align-items-center">
      <div class="container" data-aos="fade-up" >
                <div class="col-12"> 
<img src="{% static 'img/readcart.png' %}" height="100px" >
                {% if user.profile.ltl == 1 %}  
                                
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title"><a href='{% url "ETdetail" topic.slug %}'>{{ topic.French_title | safe}}</a></h5><br> <hr><br>

                   
                            <p class="card-text">{{ topic.French_explanations| safe }}</p>
                       
                 
                    {% endif %}
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">
                                {% if user.profile.loi == 1 %}
                                    {{ topic.EN_title | safe}}
                                    {% endif %}

                                    {% if user.profile.loi == 2 %}
                                    {{ topic.IG_title| safe }}
                                    {% endif %}

                                    {% if user.profile.loi == 3 %}
                                    {{ topic.HA_title | safe}}
                                    {% endif %}

                                    {% if user.profile.loi == 4 %}
                                    {{ topic.YO_title | safe}}
                                    {% endif %}

                                    {% if user.profile.loi == 5 %}
                                    {{ topic.FR_title| safe }}
                                    {% endif %}

                                    {% if user.profile.loi == 6 %}
                                    {{ topic.AR_title| safe }}
                                    {% endif %}
                            </h5>
                            <p class="card-text">
                                
                                {% if user.profile.loi == 1 %}
                                    {{ topic.EN_explanations| safe  }}
                                    {% endif %}

                                    {% if user.profile.loi == 2 %}
                                    {{ topic.IG_explanations| safe }}
                                    {% endif %}

                                    {% if user.profile.loi == 3 %}
                                    {{ topic.HA_explanations | safe }}
                                    {% endif %}

                                    {% if user.profile.loi == 4 %}
                                    {{ topic.YO_explanations| safe  }}
                                    {% endif %}

                                    {% if user.profile.loi == 5 %}
                                    {{ topic.FR_explanations| safe  }}
                                    {% endif %}

                                    {% if user.profile.loi == 6 %}
                                    {{ topic.AR_explanations | safe }}
                                    {% endif %}

                            </p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                          </div>
                        </div>

                      </div>
                    </div>
                   <br>

                        {% if request.user not in topic.read.all %} 
                            <a class="btn btn-primary" href="{% url 'YO_read_topic' topic.slug %}">(Read)</a>
                            <small style="color: blue;">Click on the "Read" button after reading this topic.</small>
                        {% else %} 
                            <a class="btn btn-primary" href="{% url 'YO_read_topic' topic.slug %}">(Unread)</a>
                        {% endif %}
                        
                
    
        </div>
                        
    </section><!-- End Frequently Asked Questions Section -->
 
{% include '../auth_user/auth_footer.html' %}

{% endblock %}