{% extends 'base.html' %}
{% block title %}Alteernlingual - Lesson Topics {% endblock %}
{% load i18n %}
{% load static %}
{% block content %}


{% include '../auth_user/userNav.html' %}

<link href=" {% static 'css/volt.css' %} " rel="stylesheet">

  <section>

    <div class="container">  
       <br><br><br>

       <div>
  {% for cate in language %}
                                        
                                 
                         


                        {% endfor %}
</div>
 <div class="card text-center">
                  <div class="card-header">

                   <i class="fas fa-book-open"></i> <h3>{{ topic.title }}</h3><h6>{{ topic.skill }}</h6>

                  </div>
                  <div class="card-body">
                    <i>
                      Select a topic and continue to dual display
                    </i>
                    <br>
                    <br>
                   <ul class="list-group" style="text-align: left;">
                       

                        <li class="list-group-item list-group-item-info">
                           {% for c in subtopic %}
                            
                                <i class="fas fa-caret-right"></i><a href="{% url 'topic_detail'  c.pk %}" style="font-size: 15px;"> {{ c.title }} </a>

                                 <hr>
                                
                              {% endfor %}
                        </li>

                          
                    </ul>           
                   <br><br>
                    <div>
                      
                    
                  </div>
                  </div>
                  
                </div>

      </div>
    </section><!-- End Contact Section -->
  </main><!-- End #main -->

 {% endblock %}
