
audio {
    width: 100px;
    height: 30px;
}

audio::-webkit-media-controls-volume-slider, video::-webkit-media-controls-volume-slider {
    -webkit-appearance: media-volume-slider;
    display: none;
    /* The 1.9 value was empirically chosen to match old-flexbox behaviour
     * and be aesthetically pleasing.
     */
    flex: 0;
    height: 0px;
    max-width: 0px;
    margin: 0 0px 0 0;
    padding: 0;
    background-color: transparent;
    min-width: 0px;
    border: initial;
    color: inherit;
}

audio::-webkit-media-controls-timeline-container, video::-webkit-media-controls-timeline-container {
    -webkit-appearance: media-controls-background;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex: 0;
    -webkit-user-select: none;
    height: 0px;
    min-width: 0;
}
audio::-webkit-media-controls-current-time-display, video::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display, video::-webkit-media-controls-time-remaining-display {
    -webkit-appearance: media-current-time-display;
    -webkit-user-select: none;
    flex: none;
    display: none;
    border: none;
    cursor: default;
    height: 0px;
    margin: 0 0px 0 0;
    padding: 0;
    line-height: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0px;
    font-weight: bold;
    font-style: normal;
    color: white;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    text-decoration: none;
}
audio::-webkit-media-controls-timeline, video::-webkit-media-controls-timeline {
    -webkit-appearance: media-slider;
    display: none;
    flex: 0;
    height: 0px;
    margin: 0 0px 0 0;
    padding: 0;
    background-color: transparent;
    min-width: 0px;
    border: initial;
    color: inherit;
}

audio::-webkit-media-controls-mute-button, video::-webkit-media-controls-mute-button {
    -webkit-appearance: media-mute-button;
    display: none;
    flex: none;
    border: none;
    box-sizing: border-box;
    width: 0px;
    height: 0px;
    line-height: 0px;
    margin: 0 0px 0 0;
    padding: 0;
    background-color: initial;
    color: inherit;
}

audio::-webkit-media-controls-play-button, video::-webkit-media-controls-play-button {
    -webkit-appearance: media-play-button;
    display: flex;
    flex: none;
    border: none;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-left: 30px;
    margin-right: 9px;
    padding: 0;
    background-color: initial;
    color: inherit;
}